@import './variables';

.footer {
    color: $white;

    &__section {
        display: flex;
        justify-content: center;
        padding: 25px 0;
        border-bottom: $border_footer;

        @media (max-width: 768px) {
            padding: 20px 0; 
        }

        @media (max-width: 375px) {
            flex-direction: column; 
            padding: 15px 0; 
        }
    }

    &__container {
        margin-right: 35px;

        &--modified {
            flex: 30%;
            border-right: $border_footer;

            @media (max-width: 768px) {
                flex: 50%; 
            }

            @media (max-width: 375px) {
                flex: 100%; 
                border-right: none; 
            }
        }
    }

    &__title {
        font-size: $main_font_family;
        margin-bottom: 5px;

        @media (max-width: 768px) {
            font-size: 18px; 
        }

        @media (max-width: 375px) {
            font-size: 16px; 
        }
    }

    &__list {
        font-size: $main_font_family;
        list-style-type: none;

        @media (max-width: 768px) {
            font-size: 14px; 
        }

        @media (max-width: 375px) {
            font-size: 12px; 
        }
    }

    &__item {
        margin-bottom: 9px;

        @media (max-width: 768px) {
            margin-bottom: 6px; 
        }

        @media (max-width: 375px) {
            margin-bottom: 4px; 
        }
    }

    &__link {
        color: inherit;

        @media (max-width: 768px) {
            font-size: 14px; 
        }

        @media (max-width: 375px) {
            font-size: 12px; 
        }
    }

    &__description {
        font-size: $main_font_family;
        margin-bottom: 15px;

        @media (max-width: 768px) {
            font-size: 14px; 
        }

        @media (max-width: 375px) {
            font-size: 12px; 
        }
    }

    //commited by Liubomyr
    &__icon {
        font-size: 30px;
        margin-right: 15px;
        color: #daa640;

        &:hover {
            color: red;
        }

        @media (max-width: 768px) {
            font-size: 24px; 
            margin-right: 10px; 
        }

        @media (max-width: 375px) {
            font-size: 20px; 
            margin-right: 8px; 
        }
    }

    &__underline {
        padding: 10px 0;

        @media (max-width: 768px) {
            padding: 8px 0; 
        }

        @media (max-width: 375px) {
            padding: 6px 0; 
        }
    }
}
