@import './variables';
.footer{
    color: $white;
    
    &__section{
        display: flex;
        justify-content: center;
        padding: 25px 0;
        border-bottom: $border_footer;
        
    }
    &__container{
        margin-right: 35px;
        &--modified{
            flex: 30%;
            border-right: $border_footer;
        }
       
    }
    &__title{
        font-size: $main_font_family;
        margin-bottom: 5px;
    }
    &__list{
        font-size: $main_font_family;
        list-style-type: none;
    }
    &__item{
        margin-bottom: 9px;
    }
    &__link{
        color: inherit;
    }
    &__description{
        font-size: $main_font_family;
        margin-bottom: 15px;
    }
    &__icon{
    font-size: 30px;
    margin-right: 15px;

        &:hover:before{
            color: red;
        }
    }
    &__underline{
       padding: 10px 0;
    }
  
        }
       
       
