@import './variables';


//commited by Liubomyr
header {
    width: 100%;
    //rulles for mobile

    @media screen and (min-width: 768px) {
        // rulles for tablet
    }

    @media screen and  (min-width: 1440){
        // rulles for desktop
    }

    //TODO: the next section should be deleted
    @media (max-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        padding-left: 0; 
        margin-left: 0; 
    }

    //TODO: the next section should be deleted
    @media (max-width: 375px) {
        display: flex;
        flex-direction: column; 
        padding-left: 10px; 
        margin-left: 0;
        align-items: flex-start; 
    }
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: flex-start; 

    &__navigation {
        display: flex;
        gap: 6px;
        font-size: $main_font_family;
        font-weight: 400;
        border-bottom: $border_header;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
        justify-content: flex-start;
        padding-left: 0;

        @media (max-width: 768px) {
            justify-content: flex-start;
            padding-left: 0;
            margin-bottom: 10px;
        }

        @media (max-width: 375px) {
            flex-direction: column;
            gap: 12px; 
            text-align: left;
        }
    }

    &__link {
        color: $black;
        margin-bottom: 0;
        &:hover {
            color: $color_link_active;
        }

        @media (max-width: 375px) {
            font-size: 14px; 
        }
    }

    &__logo {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        align-self: flex-start;

        @media (max-width: 768px) {
            width: 80px;
            height: 80px;
            margin-top: 10px;
        }

        @media (max-width: 375px) {
            width: 60px; 
            height: 60px;
            margin-top: 10px;
        }
    }
}
