@import './variables';


//commited by Liubomyr
.common-wrapper-header{
    width: 100%;
    //rulles for mobile
    display: flex;
    flex-direction: row-reverse; 
    margin-left: 0;
    align-items: flex-start; 
    @media screen and (min-width: 768px){
       
        padding: 20px 20px 20px 20px;
        display: flex;
        flex-direction:row;
      
    }
    @media screen and  (min-width: 1440){
        padding: 20px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
header {
    width: 100%;
    //rulles for mobile
    display: flex;
    flex-direction: row; 
    margin-left: 0;
    align-items: flex-start; 

    @media screen and (min-width: 768px) {
        // rulles for tablet
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        padding-left: 0; 
        margin-left: 0; 
    }

    @media screen and  (min-width: 1440){
        // rulles for desktop
        display: flex;
        flex-direction: column; 
        padding-left: 10px; 
        margin-left: 0;
        align-items: flex-start; 
    }    
    
}

.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: flex-start; 
    justify-content: space-between;

    &__navigation {
        display: none;
        

        @media screen and (min-width: 768px) {
            display: block;
            justify-content: flex-start;
            padding-left: 0;
            margin-bottom: 10px;
        }

        @media screen and  (min-width: 1440) {
        display: block;
        display: flex;
        gap: 6px;
        font-size: $main_font_family;
        font-weight: 400;
        border-bottom: $border_header;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
        justify-content: flex-start;
        padding-left: 0;
        }
    }

    &__link {
        color: $black;
        margin-bottom: 0;
        &:hover {
            color: $color_link_active;
        }

    }

    &__logo {
        width: 47px; 
        height: 47px;
        margin-top: 10px;
         @media screen and (min-width: 768px) {
            width: 80px;
            height: 80px;
            margin-top: 10px;
        }

        @media screen and (min-width: 1440px){
            width: 100px;
            height: 100px;
            margin-top: 20px;
        }
    }
    
}
.icon-burger {
    display: block;
    font-size: 30px;
    @media screen and (min-width: 768px) {
        display: none;
    }
    @media screen and (min-width: 1440px){
       display: none;
    }}
