$white: rgba(255, 255, 255, 1);
$black: rgba(28, 31, 38, 1);
$color_link:black;
$bg_main: url('../assets/images/main-bg.jpg');
$color_link_active:blue;



$text-footer-color: rgba(218, 166, 64, 1);

$placeholder-color: rgba(255, 255, 255, 1);
$button-bg-color: rgba(204, 113, 58, 1);

$font-oswald: 'Oswald', sans-serif;
$main_font_family: 16px;
$border_radius_main: 1px;
$border_header: 1px solid rgba(255, 255, 255, 0.1);

$border_input:  1px solid rgba(119, 119, 119, 1);
$border_radius_input:8px 8px 8px 8px;
$border_input_invalid: 1px solid red; 
$border_radius_button: 8px 8px 8px 8px;
$bg_button_active:blue;
$border_footer: 1px solid rgba(255, 255, 255, 1)








