@import './variables';
@import './typography';
@import './mixins';

.main {
    margin: 0 20px;
    position: relative;

    @media screen and (min-width: 768px) {
        margin: 10px 40px 25px 40px;
    }
    @media screen and (min-width: 1440px) {
        margin: 10px 120px 25px 120px;
    }

    &__title {
        margin-top: 50px;
        font-family: $font-poppins;
        font-size: 86px;
        line-height: 63.64px;
        letter-spacing: -2px;
        text-align: left;
        color: white;
        @media screen and (min-width: 1440px) {
        margin-top: 150px;
        font-family: $font-poppins;
        font-size: 131px;
        line-height: 0.8;
        }
    
    }

    &__subtitle {
        margin-top: 49px;
        font-family: $font-roboto;
        font-size: 40px;
        line-height: 28px;
        text-align: left;
        color: rgba(7, 196, 255, 1);
        @media screen and (min-width: 1440px) {
            margin-top: 80px;
            font-size: 62px;
            line-height: 0.8;
        }
    }

    &__google-conteiner {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
        @media screen and (min-width: 1440px) {
            display: flex;
            flex-direction: column-reverse;
            align-items: end;
            margin-top: -317px;
            margin-bottom: 100px;
        }
    }

   

    &__icon-google {
        display: block;
        width: 327px;
        aspect-ratio: 317 / 261;

        @media screen and (min-width: 768px) {
            margin-top: 50px;
            max-width: 242px;
        }
        @media screen and (min-width: 1440px) {
            margin-top: 0;
        }
    }

    &__ip {
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 20px;
        font-family: $font-inter;
        color: white;
        font-size: 17px;
        border: 2px solid rgba(255, 115, 15, 1);
        border-radius: 25px;

        @media screen and (min-width: 768px) {
            margin-top: -200px;
            border: none;
            max-width: 200px;
        }
        @media screen and (min-width: 1440px) {
            width: 242px;
        }
    }

    &__ip-text {
        
    }

    &__ip-input-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        background: rgba(12, 22, 35, 1);
        border: none;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        border-radius: 30px;
        padding: 10px 15px;
        width: 100%;
        max-width: 267px;
        height: 50px;
        box-sizing: border-box;
    }

    &__ip-icon-wrapper {
        .icon {
            width: 16px;
            height: 13px;
        }
    }

    &__wrapper-text {
        font-family: $font-inter;
        color: $field-color;
        font-size: 17px;
        font-weight: 500;
    }

    &__features {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-family: $font-roboto;
        margin-bottom: 70px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
        @media screen and (min-width: 1440px) {
            gap: 140px;
        }

    
    }
   
&__feature{
    @media screen and (min-width: 768px) {
        width: 33.33%;
    }
}
    &__feature-title-box {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            flex-direction: column;
            
        }
    }

    &__wrapper-icon {
     
    }

    &__feature-icon {
        width: 60px;
        aspect-ratio: 1 / 1;
        @media screen and (min-width: 1440px) {
        width: 70px;
        aspect-ratio: 1 / 1;
        }
    
    }

    &__feature-title {
        color: $title-color;
        font-size: 19px;
        @media screen and (min-width: 1440px) {
            font-size: 24px;
            }
    }

    &__feature-content {
        color: rgba(223, 240, 251, 1);
        font-size: 15px;
        line-height: 24px;
        text-align: left;
    }

    &__second-part{
        margin-top: 300px;
        font-family: $font-roboto;
        color: rgba(2, 28, 60, 1);
        position: relative;
        margin: 300px 20px;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: end;
            margin: 300px 20px 0;
            
        }
        @media screen and (min-width: 1440px) {
            margin: 300px 60px 200px;
            
        }
       

    }
    &__second-part-title{
        font-size: 40px;
        margin-bottom: 40px;
        @media screen and (min-width: 768px) {
            font-size: 62px;
            
        }
        @media screen and (min-width: 1440px) {
            font-size: 62px;}
            
    }
    &__second-part-block{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 29px;
        @media screen and (min-width: 768px) {
            width: 60%;
            
        }
        @media screen and (min-width: 1440px) {
            width: 60%;
            
        }
       

    }
    &__second-part-block-title{
        font-size: 24px;
        

    }
    &__second-part-block-text{
        font-size: 15px;

    }
    &__third-part{
        background-color:rgba(0, 35, 76, 1);
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 16px;
        width: 100%;
        height: 160px;
        p {
            color: rgba(7, 196, 255, 1);
            size: 15px;
        }
       

    }
    &__third-part-icon-border{
        width: 44px; 
        height: 44px;
        background-color:rgba(7, 196, 255, 1);
        border-radius: 50%; 
        position: relative;
    }
    &__third-part-icon{
        position: absolute;
        width: 24px;
        aspect-ratio: 24 / 24;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__flex{
        @media screen and (min-width: 768px) {
            width: 60%;
            
        }
        @media screen and (min-width: 1440px) {
            width: 60%;
              }

    }
  
}
.footer{
    background-color: #031C3C; 
    font-family: $font-roboto;
    font-size: 15px;
    width: 100%;
    height: 159px;
    color:rgba(100, 155, 205, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 40px;

}
