$font-roboto: 'Roboto', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-poppins: 'Poppins', sans-serif;

$title-color:rgba(7, 196, 255, 1);
$field-color: rgba(255, 115, 15, 1);
$content-color:rgba(223, 240, 251, 1);
$first-box-color:rgba(255, 255, 255, 1);
$first-box-border-color: rgba(255, 115, 15, 1);
$backgrond-color: #031C3C;




