@import './variables';
@import './typography';
@import './mixins';
html {
   scroll-behavior: smooth;
}
.section {
   background-color: #031C3C; 
   position: relative;
   width: 100%;
   height: auto;
   z-index: 0;
   overflow: hidden;

} 
   .conteiner {
         background-image: url("../assets/images/main-bg.png");
         overflow: hidden;
         background-size:contain;
         background-repeat:no-repeat; 
         top: 170px;
         left: 450px;
         transform: translate(-50%, -50%);
         position: absolute; 
         width: 1000px;
         aspect-ratio: 1440 / 1060;
         z-index: -1;
         @media screen and (min-width: 768px){
            top: 170px;
            left: 580px;
            margin: 10px 80px 25px 80px;
            width:2000px;
            transform: translate(-50%, -50%);
            
        }
         @media screen and (min-width: 1440px){
                top: 270px;
        left: 880px;
        margin: 10px 80px 25px 80px;
        width: 2200px;
         
      }
        }
        .second-part-img{
         background-image: url(/assets/images/How-it-works-s.png);
         overflow: hidden;
         background-size:contain;
         background-repeat:no-repeat; 
         position: absolute; 
         width: 100%;
         // max-height: 1407px;
         aspect-ratio: 375 / 1407;
         z-index: -2;
         @media screen and (min-width: 768px) {
            background-image: url(/assets/images/How-it-works-m.png);
            
        }
        @media screen and (min-width: 1440px) {
         background-image: url(/assets/images/How-it-works-l.png);
         
     }
       
        }
      

     
      