@import './variables';
@import './typography';
@import './mixins';
.header{
   font-family: $font-roboto;
   color: $content-color;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   margin: 0px 20px 25px 20px;
   padding-top: 15px;

   &__right-part{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: left;
    gap:10px;
    }
    
    &__logo{
        width: 40px;
        height: 44px;
    }
    &__title{
        font-size: 19.16px;
    }
    &__icon-menu{
        width: 40px;
        height: 40px;
        color: white;
    }
    &__nav{
        display: none;
    }
    &__nav-list{
      
    }
    &__nav-link{
        font-size: 14px;
    }
}