@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/converted-fonts-4/Roboto-Bold.woff2') format('woff2'),
         url('../assets/fonts/Roboto/Roboto-Bold.woff') format('woff'),
         url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter_18pt-Bold.woff') format('woff'),
         url('../assets/fonts/Inter/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
         url('../assets/fonts/Poppins/converted-fonts-2/Poppins-Bold.woff') format('woff'),
         url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}