// _typography.scss


@import 'styles/variables.scss';

body {
    font-family: Arial, sans-serif;
    background-color: $background-color;
}

h1 {
    font-family: $font-oswald;
    font-size: $font-size-h1;
    font-weight: 700;
    line-height: 94.85px;
}

.text {
    font-size: $font-size-text;
    font-weight: 400;
    line-height: 26.68px;
    width: 100%;
    max-width: 80%;
}

.footer-title {
    font-size: $font-size-footer-title;
    font-weight: 700;
    line-height: 29.64px;
    position: absolute;
    top: $footer-title-top;
    left: 10px;
}

.footer-content {
    font-size: $font-size-footer-content;
    font-weight: 400;
    line-height: 23.71px;
    position: absolute;
    top: $footer-content-top;
    left: 10px;
    width: 90%;
}
