// _variables.scss

// Colors
$background-color: #E9EBF0;
$text-color: #000;
$hover-color: #007BFF;
$border-color: #DADCE3;
$even-bg-color: #E2E4F0;
$odd-bg-color: #ffffff;
$hover-bg-color: rgba(255, 188, 107, 1);

// fonts
$font-oswald: 'Oswald', sans-serif;
$font-bebas: 'Bebas Neue', sans-serif;

// sizes
$header-padding: 20px 0;
$section-margin: 83px 39px 80px 39px;
$footer-title-top: 120px;
$footer-content-top: 160px;

// font sizse
$font-size-h1: 64px;
$font-size-text: 18px;
$font-size-footer-title: 20px;
$font-size-footer-content: 16px;
